*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/gradle.xml
.idea/misc.xml
build.gradle
.idea/gradle.xml
app/build.gradle
build.gradle
.idea/gradle.xml
